<!DOCTYPE html>
<html lang="en">
<head>
    <title>Script Generator</title>
    <style type="text/css">
    .textwidth{
      width: 150px;
      display: inline-block; vertical-align: top;
    }

    .added >img{
      vertical-align: middle;
      cursor:pointer;
    }
    </style>
    <script
			  src="https://code.jquery.com/jquery-3.1.0.min.js"
			  integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="
			  crossorigin="anonymous"></script>
    <script type="text/javascript" src="scripts/template.js"></script>

    <script src="scripts/indexscript.js"></script>


    <script type="text/javascript">
    function validateForm() {

          var data =  $('#template').val();
          try{
            JSON.parse(data)
          }
          catch(e) {
              alert("Enter Valid JSON Template");
              return false;
          }
          return true;

        }
        $(document).ready(function(){
        //  alert('fsdfs');

          $( "#templatetype" ).change(function() {
              templateTypeChange();
          });

          $( "#template" ).change(function() {
                setStringToReplace();
          });
      });




    </script>
</head>
<body class="container">
    <main>
        <div class="jumbotron">
            <h1>Data Generator</h1>
        </div>
        <form action="/process_post" onsubmit="return validateForm()" method="POST">
            <div>
              <span class="textwidth">Add Template : </span>
              <select name="templatetype" id="templatetype">
                <option value="-1">Select</option>
                <option value="0">federationTemplate</option>
                <option value="1">organizationTemplate</option>
                <option value="2">openIDConnectOPTemplate</option>
                <option value="3">openIDConnectRPTemplate</option>
                <option value="4">umaRSTemplate</option>
                <option value="5">umaASTemplate</option>
                <option value="6">umaROTemplate</option>
                <option value="7">oauth2OPTemplate</option>
                <option value="8">oauth2RPTemplate</option>
            </select>
            </div>
            <br/>
            <div class="filter">

            </div>

            <br/>
            <div>
              <span class="textwidth">Template :</span> <textarea rows="20" cols="100" name="template" id="template" required="required"></textarea>
            </div>
            <br/>
            <div>
              <span class="textwidth"></span>
              For automatically detecting guid and string variable to replace use following formats<br/>
              <span class="textwidth"></span>
              Guid = {xxx} Anything between {} brackets (value allowed a-z A-Z 0-9)<br/>
              <span class="textwidth"></span>
              Guid = #xxx# Anything between # (value allowed a-z A-Z 0-9)<br/>
            </div>
            <br/>
            <div>
            <span class="textwidth">  Counter :</span> <input type="number" name="counter" required="required" >
          </div>
          <br/>
          <div>
            <span class="textwidth">Variables to replace with GUIDs (comma seperated) :</span> <textarea type="text" name="guidIdsrep" id="guidIdsrep" cols="50" rows="5"></textarea>
          </div>

          <div>
            <span class="textwidth">Variable to replace with Strings (comma seperated) :</span> <textarea type="text" name="stringIdsrep" id="stringIdsrep" cols="50" rows="5" ></textarea
          </div>

            <br/>

            <input type="submit" value="Submit">

            <div style="display:none">
              <div class="addedClone"> <img src="img/close.png" ></img>
                  <span>federation<span>

               </div>

            <div>
        </form>
    </main>

</body>
</html>
